{% extends 'base.html' %}

{% block content  %}

<section>
    <h1>Homepage</h1>

    <h2>Display full API data</h2>

    <div>

        {% comment %} display full json {% endcomment %}
        {{api}}
        

    </div>
</section>

<section>
    <h3>To display one data</h3>

    {% for i in api  %}

    {{ i.companyName }}
      
    {% endfor %}

    <div>
        {% comment %} display only a value {% endcomment %}
        {{ api.extendedPrice }}
    </div>
</section>

<section>
    <h3>API Loop</h3>

    <div>


        {% if api %}

            {% if api ==  "This is not getting data" %}

            <p>Hahaha padan muka</p>

            {% else %}

            <!-- must be in nested loop to iterate each objects in api array -->

            {% for i in api  %}

                {% for key,value in i.items %}

                {{ key }} : {{ value }} <br>

                
            
                {% endfor %}
              
            {% endfor %}

               


            {% endif %}

        
        {% endif %}
          

        
    </div>
</section>


{% endblock  %}

