{% extends 'base.html' %}

{% block content %}

<h1>Stock</h1>

<!-- Stock form -->
<form action="{% url 'stock' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="ticker" class="form-label">Enter Company Quote</label>
        <input type="text" class="form-control" id="ticker" name="ticker">
        <div id="companyName" class="form-text">We'll never share your data with anyone else.</div>
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<div>

    {% for t in ticker %}

       Company : {{ t }} <br>

    {% endfor %}
</div>
  
{% endblock content %}